
.set {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.set div {
    position: absolute;
    display: block;
}

.set div:nth-child(1) {
    left: 20%;
    animation: leaf-animate 15s linear infinite;
    animation-delay: -7s;
}
.set div:nth-child(2) {
    left: 50%;
    animation: leaf-animate 20s linear infinite;
    animation-delay: -5s;

}
.set div:nth-child(3) {
    left: 70%;
    animation: leaf-animate 25s linear infinite;

}
.set div:nth-child(4) {
    left: 10%;
    animation: leaf-animate 15s linear infinite;
    animation-delay: -5s;

}
.set div:nth-child(5) {
    left: 85%;
    animation: leaf-animate 18s linear infinite;
    animation-delay: -7s;

}
.set div:nth-child(6) {
    left: 30%;
    animation: leaf-animate 12s linear infinite;

}
.set div:nth-child(7) {
    left: 15%;
    animation: leaf-animate 14s linear infinite;

}
.set div:nth-child(8) {
    left: 65%;
    animation: leaf-animate 15s linear infinite;

}

@keyframes leaf-animate {
    0% {
        top: -10%;
        opacity: 0;
        transform: translateX(20px) rotate(0deg);

    }
    10% {
        opacity: 1;
    }
    20% {
        transform: translateX(-20px) rotate(45deg);
    }
    40% {
        transform: translateX(-20px) rotate(90deg);
    }
    60% {
        transform: translateX(20px) rotate(135deg);
    }
    80% {
        transform: translateX(-20px) rotate(180deg);
    }
    100% {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);

    }
}

.set2 {
    transform: scale(1.5) rotateY(180deg);
    filter: blur(1px);
}

.set3{
    transform: scale(0.8) rotateX(180deg);
    filter: blur(2px);
}
.set img {
max-width: 83px;
width: 100%;
height: 80%;


  /* div height to be the same as width*/

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: left;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;
}

.set div {
    position: absolute;
}

body {
    background: url(../../assets/marble.jpg) no-repeat center center fixed;
    --webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.form-box {
    width: 20%;
    height: auto;
    margin: 40px auto auto auto;
    padding: 80px 80px;
    background: #006039;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.box-shadow {
    box-shadow: 
    0 2.8px 2.2px rgba(0,0,0,0.34),
    0 6.7px 5.3px rgba(0,0,0,0.048),
    0 12.5px 10px rgba(0,0,0,0.06),
    0 22.3px 17.9px rgba(0,0,0,0.072),
    0 41.8px 33.4px rgba(0,0,0,0.086),
    0 100px 80px rgba(0,0,0,0.12)
}

h1:hover {
    color: goldenrod;
    text-shadow: 0px 0px 10px #F7CAC9,
                 0px 0px 20px #F7CAC9,
                 0px 0px 30px #F7CAC9;
    cursor: pointer;
}

.glow-red:hover {
    color: red;
    text-shadow: 0px 0px 10px red,
                 0px 0px 20px red,
                 0px 0px 30px red;
    cursor: pointer;
}

.glow-green:hover {
    color: green;
    text-shadow: 0px 0px 10px green,
                 0px 0px 20px green,
                 0px 0px 30px green;
    cursor: pointer;
}

.glow-blue:hover {
    color: blue;
    text-shadow: 0px 0px 10px blue,
                 0px 0px 20px blue,
                 0px 0px 30px blue;
    cursor: pointer;

}

.glow-neon:hover {
    color: #4deeea;
    text-shadow: 0px 0px 10px #4deeea,
    0px 0px 20px #4deeea,
    0px 0px 30px #4deeea;
    cursor: pointer;

}

.btn {
    margin-top: 20px;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    text-transform: uppercase;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 200;
}


.first:hover {
    background: #e74c3c;
    color: white;
}

.second {
    border-color: #006039;
    background: #006039;
    color: white;
    -webkit-transition: all 150ms ease-in-out;
}

.second:hover {
    background: rgb(239, 239, 239);
    border-color: rgb(239, 239, 239);
    border: 2px solid #006039;
    color: black;
}