.handContainer {
    display: flex;
    flex-direction: sideways;
    
    background: #ADADAD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    width: 700px;
    height: 149px;
    align-items: center;
    justify-content: center;

    padding-left: 5px;
    padding-right: 5px;

    margin-left: auto;
    margin-right: auto;
}

.gameTableAndEnemyContainter {
    display: flex;
    flex-direction: row;
}

.enemyBoxContainer-top {
    display: flex;
    flex-direction: row;

    width: 800px;
    height: 150px;

    align-items: center;
    justify-content:space-evenly;

    margin-left: auto;
    margin-right: auto;
}

.enemyBoxContainer-sides {
    display: flex;
    flex-direction: column;

    width: 220px;
    height: 310px;

    align-items: center;
    justify-content:space-between;

    margin-left: auto;
    margin-right: auto;
}

.enemyBox {
width: 200px;
height: 140px;

background: #BA9136;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.enemyText {
    text-align: center;
}

.enemyCardsContainer {
    display: flex;
    width: 180px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content:space-evenly;
}

.enemyCard {

    background-image: url('../../public/backOfCardRed.jpg');
    max-width: 32px;
    width: 100%;
  height: 80%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: left;
  background-repeat: no-repeat;
  border-radius: 1px;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;
}

.true-isTurn {
    border: 2px solid red;
}

.gameTable {

width: 500px;
height: 200px;
display: flex;

margin-left: auto;
margin-right: auto;
padding: 50px;

background: #006039;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cardPile{

width: 117px;
height: 149px;

margin-left: 30px;
margin-top: 18px;
padding-top: 30px;

background: #76A185;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hoverPile {
    width: 117px;
height: 149px;

margin-left: 30px;
margin-top: 18px;
padding-top: 30px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: black;
}

.background {
    background-image: url('../../public/image1.png');
}
